@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;600;700&display=swap');
/* General styles */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Color palette */
  --green: hsl(157, 74%, 62%);
  --medium-blue: hsl(225, 26%, 23%);
  --very-dark-blue: hsl(224, 35%, 11%);
  --pure-white: hsl(0, 0%, 100%);
  --light-blue: hsl(225, 21%, 45%);
  --very-light-blue: hsl(225, 40%, 83%);
}

html {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  line-height: 1.556rem;
  background-color: var(--very-dark-blue);
}

body {
  position: relative;
}

/* Desktop styles */
h1 {
  font-size: 2.889rem;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 3.444rem;
  color: white;
  
}

main {
  position: relative;
  max-width: 70.833rem;
  margin: 9% 0 0 auto;
  aspect-ratio: 1275/640;
}

.logo {
  position: absolute;
  top: -1.556rem;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  
}

.bg img {
  display: block;
  width: auto;
  height: 100%;
}

.info {
  width: 57%;
  background-color: var(--very-dark-blue);
  position: absolute;
  bottom: 0;
}

h1.green {
  margin-top: 4.889rem;
  color: var(--green)
}

.info p {
  margin-top: 1.333rem;
  width: 75%;
  color: var(--very-light-blue);
  font-weight: 100;
}


.bg-dots {
  position: absolute;
  right: 0;
  bottom: -3.4rem;
}

form {
  margin-top: 2.222rem;
  width: 58.25%;
  height: 3.11rem;
  border-radius: 1.556rem;
  display: flex;
  background-color: var(--medium-blue);
}


input {
  background-color: var(--medium-blue);
  border-radius: 28px;
  width: 62%;
  padding-left: 1.778rem;
  width: 100%;
  color: var(--pure-white);
  caret-color: var(--green) ;
  border: none;
  display: flex;
  justify-content: flex-end;
}

input:focus {
  border: 1px solid transparent;
  color: var(--pure-white);
  outline: none;
}

input:focus::placeholder {
  opacity: 0;
  }

::placeholder, button {
  font-size: 14px;
  font-weight: 600;
}
  

button {
  width: 14rem;
  border-radius: 1.556rem;
  background-color: var(--green);
  margin: 0.278rem 0.278rem 0.278rem 0.578rem;
  border: none;
  padding: 0 1.5rem;
  color: var(--very-dark-blue)
}

button:hover {
  cursor: pointer;
  background-color: hsl(157, 100%, 85%);
}

#email-result {
  font-size: 0.667rem;
  color: #FB3E3E;
  font-weight: 700;
  margin-top: 0.444rem;
  margin-left: 1.778rem;
}



.media {
  width: 85%;
  margin-top: 2.33rem;
}

.media img {
  margin-right: 2.222rem;
  color: red;
  opacity: 45%;
}

/* Tablet styles */
@media only screen and (max-width: 768px) {
  main {
    margin: 0 0 0 2.167rem;
    max-width: 42.67rem ;
    height: 42.611rem;
  }

  .logo {
    top: 1.8rem;
  }

  .bg {
    width: 27.278rem;
    overflow: hidden;
  }

  .bg img {
    content: url(./assets/mobile/image-host.jpg);
    width: 100%;
    height: auto;
  }
  .info {
    width: 87.106%;
  }

  h1.green {
    margin-top: 3.5rem;
  }

  .info p {
    margin-top: 0.7rem;
  }

  form {
    width: 67.2%;
  }

  .media {
    width: 90%;
    margin-top: 1rem;
  }


  .bg-dots {
    left: 0;
    bottom: -14.6rem;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid red;
  }




  .bg {
    display: none;
  }
  
}

