@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;600;700&display=swap');
/* General styles */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Color palette */
  --green: hsl(157, 74%, 62%);
  --medium-blue: hsl(225, 26%, 23%);
  --very-dark-blue: hsl(224, 35%, 11%);
  --pure-white: hsl(0, 0%, 100%);
  --light-blue: hsl(225, 21%, 45%);
  --very-light-blue: hsl(225, 40%, 83%);
}

html {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  line-height: 1.556rem;
  background-color: var(--very-dark-blue);
}

